
<section class="resume-section" id="experience">
    <div class="resume-section-content">
  
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.NET DEVELOPMENT</h3>              
                <div class="subheading mb-3">Obelisk Multimedi</div>
                <div class="container-grid-x4" >
                    
                  <ul *ngFor="let educ of education">
                    <li>{{educ}}</li>
                  </ul>
             
            </div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Okt 2021 - July 2022</span></div>
    </div>
    </div>
   </section>