    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Louage
                <span class="text-primary">GÄEL</span>
            </h1>
            <div class="subheading mb-5">
               9255 BUGGENHOUT · (32) 497 42 33 60
                <a href="mailto:louagegael@hotmail.com">louagegael@hotmail.com</a>
            </div>
            <p class="lead mb-5">
                I am a highly motivated and ambitious software developer based in Buggenhout, Belgium. With a deep passion for creating innovative software solutions, I have dedicated myself to pursuing a career in the ever-evolving field of information and communication technology (ICT).
              <br> <br>
              While I initially started my professional journey in a different field, I soon discovered that my true calling and enthusiasm reside in the world of software development. I embarked on a journey of self-study and formal training, committing to expanding my knowledge and honing my skills in the realm of software engineering.

              This transition into the world of ICT has not only been professionally rewarding but also personally fulfilling. The opportunity to create, build, and solve real-world problems through code has been a remarkable journey. It's a path where I've found my true passion, and I am dedicated to continuous learning and growth in this exciting and dynamic industry.
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/ga%C3%ABl-louage-812bb0224/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/GaelLouage/GaelLouage" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>