    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Louage
                <span class="text-primary">GÄEL</span>
            </h1>
            <div class="subheading mb-5">
               9255 BUGGENHOUT · (32) 497 42 33 60
                <a href="mailto:louagegael@hotmail.com">louagegael@hotmail.com</a>
            </div>
            <p class="lead mb-5">
              I am a highly motivated and ambitious software developer. With a passion for creating software.
              <br> <br>
              After years of working in a different field, I realized that my true passion lies in the field of ICT. Through self-study and training, I have deepened my knowledge and skills in this area. Taking this final step towards a career in ICT has brought me great satisfaction and fulfillment.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/ga%C3%ABl-louage-812bb0224/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/GaelLouage/GaelLouage" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>