   <!-- Experience-->
   <section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.NET DEVELOPMENT</h3>
                <div class="subheading mb-3">DEVLAB CAREER</div>
                <p class="lead mb-5">As a consultant at Devlab Career, I have had the 
                  opportunity to work on a variety of projects and learn about many different technologies.
                   One of my recent projects involved creating an API that generated Microsoft Word templates
                    based on user input. The data for the templates was retrieved from a database, and Azure was
                     also used in the project. In addition to developing the API, I also had to follow the SOLID
                      principles to ensure that the code was maintainable and scalable.</p>
                      <div class="subheading mb-3">DEVLAB CAREER (crossborder)</div>
                      <p class="lead mb-5">During my time as a consultant at Devlab Career, I was fortunate to work at Crossborder on a project that involved building an API to generate PDF files based on user selections from a database. I utilized the Synfusion library to complete this project, and it was a great learning experience for me. Working at Crossborder allowed me to hone my skills in API development and database management, and I am grateful for the opportunity.</p>
                     
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Aug 2022 - Present</span></div>
        </div>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
              <h3 class="mb-0">WEB DEVELOPMENT</h3>
              <div class="subheading mb-3">DE JOERI</div>
                      <p class="lead mb-5">During my short-term collaboration, I worked closely with the client to enhance their online presence for their villa rental business. The project focused on creating a visually appealing website to showcase the villa's photos and integrating a dynamic Google Map to display its location.
                      </p>
               
                   
          </div>
          <div class="flex-shrink-0"><span class="text-primary">July 2023</span></div>
      </div>
    </div>
   </section>