<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">projects</h2> 
        <div class="row" *ngFor="let project of getWebDevProjects()">
          <div class="subheading mb-3"  (click)="toggleProjects('WebDev')" >{{project.subheading}}</div>
            <div *ngIf="visibleWebDevProjects" class="row">

 
          <div class="card m-2" style="width: 18rem;" *ngFor="let proj of project.projects" >
            <a class="d-flex justify-content-center"  [routerLink]="['/project', proj.title]"><img class="project-images" [src]="proj.image" [alt]="proj.title"></a>
            <div class="card-body text-center">
              <h5 class="card-title">{{proj.title}}</h5>
               <a class="social-icon" *ngIf="proj.github.length > 0"  [href]="proj.github" target="_blank"><i class="fab fa-github"></i></a> 
              <a class="social-icon" [routerLink]="proj.title"><i class="fa fa-file"></i></a>

              <a class="social-icon" *ngIf="proj.site.length > 0"  [href]="proj.site"><i class="fa fa-globe" target="_blank"></i></a>
            </div>
          </div>
        </div>
        </div>


        <!-- api projects -->
        <div class="row" *ngFor="let project of getApiProjects()">
          <div class="subheading mb-3"  (click)="toggleProjects('Api')" >{{project.subheading}}</div>
            <div *ngIf="visibleApiProjects" class="row">
    
    
          <div class="card m-2" style="width: 18rem;" *ngFor="let proj of project.projects" >
            <a class="d-flex justify-content-center"  [routerLink]="['/project', proj.title]"><img class="project-images" [src]="proj.image" [alt]="proj.title"></a>
            <div class="card-body text-center">
              <h5 class="card-title">{{proj.title}}</h5>
               <a class="social-icon" *ngIf="proj.github.length > 0"  [href]="proj.github" target="_blank"><i class="fab fa-github"></i></a> 
              <a class="social-icon" [routerLink]="proj.title"><i class="fa fa-file"></i></a>
    
              <a class="social-icon" *ngIf="proj.site.length > 0"  [href]="proj.site"><i class="fa fa-globe" target="_blank"></i></a>
            </div>
          </div>
        </div>
        </div>

  <!-- wpf / winforms-->
  <div class="row" *ngFor="let project of getWpfProjects()">
    <div class="subheading mb-3"  (click)="toggleProjects('Wpf')" >{{project.subheading}}</div>
      <div *ngIf="visibleWpfProjects" class="row">


    <div class="card m-2" style="width: 18rem;" *ngFor="let proj of project.projects" >
      <a class="d-flex justify-content-center"  [routerLink]="['/project', proj.title]"><img class="project-images" [src]="proj.image" [alt]="proj.title"></a>
      <div class="card-body text-center">
        <h5 class="card-title">{{proj.title}}</h5>
         <a class="social-icon" *ngIf="proj.github.length > 0"  [href]="proj.github" target="_blank"><i class="fab fa-github"></i></a> 
        <a class="social-icon" [routerLink]="proj.title"><i class="fa fa-file"></i></a>

        <a class="social-icon" *ngIf="proj.site.length > 0"  [href]="proj.site"><i class="fa fa-globe" target="_blank"></i></a>
      </div>
    </div>
  </div>
  </div>


  <!-- Exercises-->
  <div class="row" *ngFor="let project of getExercisesProjects()">
    <div class="subheading mb-3"  (click)="toggleProjects('Exercises')" >{{project.subheading}}</div>
      <div *ngIf="visibleExercisesProjects" class="row">


    <div class="card m-2" style="width: 18rem;" *ngFor="let proj of project.projects" >
      <a class="d-flex justify-content-center"  [routerLink]="['/project', proj.title]"><img class="project-images" [src]="proj.image" [alt]="proj.title"></a>
      <div class="card-body text-center">
        <h5 class="card-title">{{proj.title}}</h5>
         <a class="social-icon" *ngIf="proj.github.length > 0"  [href]="proj.github" target="_blank"><i class="fab fa-github"></i></a> 
        <a class="social-icon" [routerLink]="proj.title"><i class="fa fa-file"></i></a>

        <a class="social-icon" *ngIf="proj.site.length > 0"  [href]="proj.site"><i class="fa fa-globe" target="_blank"></i></a>
      </div>
    </div>
  </div>
  </div>


 <!-- GameDev-->
 <div class="row" *ngFor="let project of getGameDevProjects()">
  <div class="subheading mb-3"  (click)="toggleProjects('GameDev')" >{{project.subheading}}</div>
    <div *ngIf="visibleGameDevProjects" class="row">


  <div class="card m-2" style="width: 18rem;" *ngFor="let proj of project.projects" >
    <a class="d-flex justify-content-center"  [routerLink]="['/project', proj.title]"><img class="project-images" [src]="proj.image" [alt]="proj.title"></a>
    <div class="card-body text-center">
      <h5 class="card-title">{{proj.title}}</h5>
       <a class="social-icon" *ngIf="proj.github.length > 0"  [href]="proj.github" target="_blank"><i class="fab fa-github"></i></a> 
      <a class="social-icon" [routerLink]="proj.title"><i class="fa fa-file"></i></a>

      <a class="social-icon" *ngIf="proj.site.length > 0"  [href]="proj.site"><i class="fa fa-globe" target="_blank"></i></a>
    </div>
  </div>
</div>
</div>


    </div>
</section>

