<section class="resume-section" id="contact">
    <div class="resume-section-content">
      <h2 class="mb-5">CONTACT</h2>
<form class="w-100" action="POST" data-netlify="true">
<div class="form-group">
<label for="name">Name</label>
<input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
</div>
<div class="form-group mt-4">
<label for="email">Email</label>
<input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
</div>
<div class="form-group mt-4">
<label for="message">Message</label>
<textarea  class="form-control" id="message" rows="3" placeholder="Enter your message" required></textarea>
</div>
<div class="mt-2" data-netlify-recaptcha="true"></div>
<button type="submit" class="btn btn-primary text-white mt-2">Submit</button>
</form>

    </div>
</section>