<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="lead mb-5">In addition to my work as a software developer, I enjoy spending time with my family, working on personal projects, and gaming. Building my own projects has helped me develop valuable skills such as problem-solving and attention to detail. Gaming allows me to challenge myself and improve my reflexes and strategic thinking. Above all, my family provides me with love and emotional support, which is important to me. 
        </p>
        <p class="mb-0"></p>
    </div>
</section>